:root {
  --colors-base0: #525261;
  --colors-base1: #525261;
  --colors-base2: #babbc4;
  --colors-base4: #c4c6ce;
  --colors-base5: #dfe0e6;
  --colors-base6: #edeef0;
  --colors-base7: #f1f2f3;
  --colors-base8: #f9fafb;
  --colors-base9: #ffffff;
}

/* screen size breakpoints */
$tablet-screen-breakpoint: 600px;
$content-max-width: 1600px;
